<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="products.length === 0; else myElseBlock">
          <h1>No products found</h1>
        </div>
        <ng-template #myElseBlock>
          <!-- This block will only be shown if products array is not empty -->
          <div
            *ngFor="let tempProduct of products"
            class="col-md-6 col-lg-3 mb-4"
          >
            <div class="product-box">
              <a routerLink="/products/{{ tempProduct.id }}">
                <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
              </a>
              <div class="product-details">
                <!-- Move the product name link here to ensure it's under the image -->
                <a routerLink="/products/{{ tempProduct.id }}">
                  <h1>{{ tempProduct.name }}</h1>
                </a>
                <div class="price">
                  {{ tempProduct.unitPrice | currency : "GBP" }}
                </div>
                <a href="#" class="primary-btn">Add to cart</a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
