<div class="main-content">
  <div class="section-content section-content-p30">
    <h4 style="color: black;">{{ currentCategoryName }}</h4>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div *ngIf="products.length === 0; else myElseBlock">
          <h1>No products found</h1>
        </div>
        <ng-template #myElseBlock>
          <!-- This block will only be shown if products array is not empty -->
          <div
            *ngFor="let tempProduct of products"
            class="col-md-6 col-lg-3 mb-4"
          >
            <div class="product-box">
              <a
                routerLink="/products/{{ tempProduct.id }}"
                class="product-link"
              >
                <img
                  src="{{ tempProduct.imageUrl }}"
                  class="img-responsive"
                  alt="{{ tempProduct.name }}"
                />
              </a>
              <div class="product-details">
                <a
                  routerLink="/products/{{ tempProduct.id }}"
                  class="product-name"
                >
                  <h1>{{ tempProduct.name }}</h1>
                </a>
                <div class="price-and-button">
                  <div class="price">
                    {{ tempProduct.unitPrice | currency : "GBP" }}
                  </div>
                  <button (click)="addToCart(tempProduct)" href="#" class="add-to-cart-btn">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <!-- Begin footer -->
      <div class="footer-pagination text-center">
        <div class="row">
          <div class="col-md-6 col-lg-3"></div>

          <div
            class="col-md-8 col-lg-5 d-flex align-items-center justify-content-end"
          >
            <div class="pagination-container">
              <ngb-pagination
                [(page)]="thePageNumber"
                [pageSize]="thePageSize"
                [collectionSize]="theTotalElements"
                [maxSize]="5"
                [boundaryLinks]="true"
                (pageChange)="listProducts()"
              >
              </ngb-pagination>
            </div>
            <div class="ml-4 page-size-container">
              <span>Show:</span>
              <select
                #myPageSelect
                (change)="updatePageSize(myPageSelect.value)"
                class="custom-select"
              >
                <option>8</option>
                <option selected="true">12</option>
                <option>16</option>
                <option>32</option>
                <option></option>
              </select>
              <span class="ml-2">items per page</span>
            </div>
          </div>
        </div>
      </div>

      <!-- End footer -->
    </div>
  </div>
</div>
