.product-box {
  transition: box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.product-box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-box img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 1.3rem;
  color: #0da8e4;
  font-weight: bold;
}

.add-to-cart-btn {
  margin-left: 10px;
  min-width: 80px;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: #0da8e4;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #3c83c4;
}

.pagination-container {
  margin-top: 30px;
}

.page-size-container {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left:20px;
}

.custom-select{
  margin-left: 10px;
  margin-right: 10px;
}

.footer-pagination {
  margin-top: 50px;
}

.footer-pagination .pagination-link {
  font-size: 1.2rem;
  color: #0da8e4;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-pagination .pagination-link:hover {
  color: #0c87b8;
}