.main-content {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.alert {
  margin-top: 0px;
  border-radius: 10px;
  padding: 40px;
  background-color: #ffeaa7;
  color: #495057;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alert h3 {
  margin-bottom: 10px;
  color: #343a40;
}

.alert p {
  margin-bottom: 5px;
}

.table {
  margin: 0;
}

.table-bordered th {
  background: #007bff;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.image {
  width: 100%;
  height: auto;
}

.items {
  margin-top: 20px;
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-controls .btn {
  padding: 10px 20px;
}

.primary-btn {
  margin-left: 5px;
  min-width: 60px;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: #0da8e4;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-btn:hover {
  background-color: #3c83c4;
}

.subtotal {
  font-size: 18px;
  position: relative;
  bottom: 0;
  left: 0;
}
