<div class="page-wrapper">
  <!-- START MENU SIDEBAR -->
  <!-- Sidebar menu displayed only on large screens -->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <!-- Logo with a link to the products page -->
      <a routerLink="/products">
        <img src="assets/images/logo/codecraft_logo.png" alt="codecraft" />
      </a>
    </div>
    <!-- Product category menu component -->
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR -->

  <!-- START PAGE CONTAINER -->
  <div class="page-container">
    <!-- START HEADER DESKTOP -->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <!-- Search component -->
            <app-search></app-search>

            <!-- Login status component -->
            <app-login-status></app-login-status>

            <!-- Cart status component -->
            <app-cart-status></app-cart-status>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- MAIN CONTENT -->
    <!-- Router outlet to display dynamic content based on routes -->
    <router-outlet></router-outlet>
  </div>
</div>
<!-- END PAGE CONTAINER -->

<!-- Footer section -->
<footer>
  <ul>
    <!-- About Us link -->
    <li><a href="#">About Us</a></li>
    <!-- Help link -->
    <li><a href="#">Help</a></li>
  </ul>
</footer>
