.au-input-xl {
  min-width: 300px;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 16px;
  color: #666;
  transition: border-color 0.3s ease;
}

.au-btn-submit {
  margin-left: 10px;
  min-width: 80px;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: green;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.au-btn-submit:hover {
  background-color: #3c83c4;
}
